
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
@import "@fontsource/noto-sans-bengali/400.css";
@import "@fontsource/noto-sans-bengali/700.css";

html,
body {
  font-family: "Noto Sans Bengali", sans-serif;
}


/* GLOBAL PRINT STYLES */
@media print {
  @page {
    size: A4 portrait;
    margin: 0;
    height: 65%; 
  }

  /* 1. Hide everything on the body level */
  body * {
    visibility: hidden !important;
  }

  /* 2. Reset html/body canvas */
  html,
  body {
    background: #ffffff !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
  }

  /* 3. Make ONLY the ticket card and its contents visible */
  #print-ticket,
  #print-ticket * {
    visibility: visible !important;
  }

  /* 4. Position the ticket card at the top-left of the printed page */
  #print-ticket {
    position: absolute !important;
    left: 50% !important;
    //top: 20px !important;
    transform: translateX(-50%) !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    box-shadow: none !important;
    border: 1px solid #fffffe !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* 5. Ensure background colors & table borders print correctly */
  .paper-section-bg {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .table {
    border-color: #e2dbce !important;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
